* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: black;
    --secondary-color: white;
    --third-color: rgb(81, 121, 253);

    --background-color: rgb(255, 250, 241);
}

body {
    color:var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
}

/* HEADER START */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--secondary-color);
 
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 10px;
    font-weight: bold;
    font-size: 1.55vw;
    text-decoration: underline;
}

/* HEADER END */

/* FOOTER START */
footer {
    background-color: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
}
/* FOOTER END */

/* SECTION */
section{
    padding: 60px;
}


/* HERO BANNER START */
.hero {
    background-image: url('../images/background.jpg');
    background-position: 85% 35%;
    display: flex;
    flex-wrap: flex;
    justify-content: right;
    align-items: flex-end;
    
}
/* HERO BANNER END */

/* CONTENT START */
.section-title {
    font-size: 48px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 3px solid;
    margin: 0 auto 35px auto;
    color: var(--third-color);
    text-align: center;
}

.content-block {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.content-block h2 {
    flex: 1 30%;
    margin-right: 20px;
}

.about-info {
    margin-left: 20px;
    flex: 2 70%;
}


.work-all-projects {
    margin-left: 20px;
    flex: 2 70%;
}

.work-label {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-weight: bold;
}

.project-box {
    position: relative;
    text-align: center;
    border: 1px solid var(--primary-color);
}

.project-box img {
    min-width: 200px;
}
.sub-projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}
/* CONTENT END */